body {
    background-color: #D9BC00;
}
header{
    background-color: #D18058;
    height: 120px;
}
header ul {margin-top: 0; padding: 0px}
header li{display: inline; padding: 5px}
nav a {text-decoration-line: none}
nav a:hover {color: white}

.centrado{
        width: 980px;
        background-color: #D18058;
        margin: 0 auto;
}

.fondogris{
        background-color: #28232E;
        padding: 5px 16px;
}

h1{
    text-align: center;
    color: white;
}
h2{
    
    border-bottom:2px solid #D18058 ;
}
h1,h2,h3,h4{
    color: #D18058;
}

.logo{
    width: 447px;
    display: block;
    margin: 0 auto;
}
    
}
li img{
    width: 50px;
    height: auto;
    vertical-align: middle;
    margin: 3px;
    border: 4px solid #D18058;
    padding: 2px;
    background-color: #D18058;
        
}
/*ul.cantantes es igual a .cantantes*/
.cantantes{
    list-style-type: none;
}
.lugar{
 color: grey;   
text-transform: uppercase;    
}